body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: 1em sans-serif;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
}

.sub-title {
    color: #b2b2b2;
    font-size: 18px;
    margin-bottom: 0;
}

.img-size {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

.img-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
        i {
            width: 55px;
            height: 55px;
            background-color: #efeded;
            border-radius: 50%;
            transition: 0.2s linear;
            line-height: 55px;
            margin-top: 18px;
            margin-right: 5px;
                &:hover {
                    transform: scale(1.3);
                }
        }
}