body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: 1em sans-serif;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}

.sub-title {
    color: #b2b2b2;
    font-size: 18px;
    margin-bottom: 0;
}

.img-size {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

.img-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
        i {
            width: 55px;
            height: 55px;
            background-color: #efeded;
            border-radius: 50%;
            transition: 0.2s linear;
            line-height: 55px;
            margin-top: 18px;
            margin-right: 5px;
                &:hover {
                    transform: scale(1.3);
                }
        }
}

.circle {
    background: #b2b2b2;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

header  {
    h1 {
        padding-left: 20px;
        font-size: 20px;
    }
}

.pg-title {
    text-align: center;
}

.card {
    background-color: #F9F6F6;
    height: auto;
    width: auto;
    max-height: 390px;
    max-width: 500px;
    padding: 20px;
    margin-left: 32px;
    margin-right: 32px;
    display: inline-block;
    margin-bottom: 30px;
}

.card-img {
    height: 35px;
    width: 35px;
    display: block;
    border-radius: 50%;
    background-color: #9F9999;
    float: left;
}

.card-title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
        h1 {
            padding-left: 45px;
        }
}

.card-p {
    padding-left: 0;
}

.card-lang {
    padding: 5px;
    position: relative;
    display: inline-block;
    background-color: #E8CB58;
    margin-bottom: 10px;
    height: auto;
    border-radius: 15px;
}

.card-footer {
    border-top: 1px solid #e0e0e0;
}

.footer-img {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    padding-top: 10px;
}